extends layout

block content
  h1 File Management

  if !storageManager
    h2 Can not list files. Please check your <a href="/settings">settings</a>.
  else
    div(id='createHeader')
      h2 Create File

    form(id='form',style='display:none')
      input(id='file',onchange='fileChange()',type='file')
    button(onclick='upload()') Upload a new file

    div(id='listHeader')
      h2 All Files
    table
      thead
        tr
          th Filename
          th Version
          th Size
          th Uploaded On
          th Parts
          th Actions
        tbody(id='list')
  script(src='/javascripts/moment.js',type='text/javascript')
  script(src='/javascripts/filesize.min.js',type='text/javascript')
  script(src='/javascripts/spin.min.js',type='text/javascript')
  script(src='/javascripts/files.js',type='text/javascript')
