doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a#logo(href='/') CloudRAID
      #nav
        if userdata
          span User: #{userdata.name} (#{userdata.username})
          | |
          if userdata.isadmin
            a(href='/users') Users
            | |
          a(href='/files') Files
          | |
          a(href='/accounts') Accounts
          | |
          a(href='/settings') Settings
          | |
          a(href='/logout') Log Out
        else
          a(href='/login') Log In
    section#content
      block content
